application.name                        {{crowd_app}}
application.password                    {{crowd_pass}}
application.login.url                   https://{{ansible_hostname}}.slac.stanford.edu

crowd.server.url                        https://{{crowd_server}}/crowd/services/
crowd.base.url                          https://{{crowd_server}}/crowd/

session.isauthenticated                 session.isauthenticated
session.tokenkey                        session.tokenkey
session.validationinterval              2
session.lastvalidation                  session.lastvalidation

